<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= assigns[:page_title] || "TweetComment · Phoenix Framework" %></title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <script  async src="https://platform.twitter.com/widgets.js"> </script>
  <%= csrf_meta_tag() %>
</head>

<body>
  <header>
    <h1>TweetComment</h1>
  </header>
  <main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%# Statefull live view component as source of truth %>
    <%= live_render(@conn, TweetCommentWeb.TweetCommentLive) %> 
    
    <%# Live view as source of truth %>
    <%# <%= live_render(@conn, TweetCommentWeb.TweetCommentLiveFull) %>  

    <%# Using surface %>
    <%# <%= live_render(@conn, TweetCommentWeb.Surface.TweetCommentLive) %> 
  </main>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>